

/**********************/
/**********************/
/*    SOMMAIRE CSS     */
/**********************/
/**********************/

/* Ligne 16 : règles css généraux*/
/* Ligne 157 : Header */
/* Ligne 192 : Page Index */
/* Ligne 350  : Footer */
/* Ligne 390 : Page Itinèraire */
/* Ligne 450 : Page FAQ ( Page contenant du bootstrap ) */
/* Ligne 481 : Page contact  */
/* Ligne 542 : Page qui sommes nous  */



/****** REGLES &CSS GENERAUX****************/


html{
    font-size: 12px;
    text-decoration: none;
    scroll-behavior: smooth;

}

body{
    background-color: white;
    font-family: 'Baloo 2';
    text-decoration: none;
}

body ul{
    list-style-type:none;
}

a {
    color: black;
    background: linear-gradient(90deg, red, orange, pink, purple);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  a:hover {
    color: transparent;
    transition: 500ms ease;
  }

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
}

.hero-section{
    border: .3rem solid black;
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100%;
    height: 45rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction:row;
    background-color: #fdf7f2;
    padding-bottom: 3rem;
    z-index: 1;
}

.about-section{
    border: .3rem solid black;
    border-radius: 2rem 0rem 1rem 1rem;
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    background-color: #fcc6e7;
    margin-top: -4rem;
    z-index: 2;
    background-image: url("assets/confetti.svg");
    background-size: cover;
}

.imgsec{
    background-image: url("https://static.actu.fr/uploads/2022/07/62dcdb9579d2646dcdb9579d21adcdv-960x640.jpg");
    width: 45rem;
    height: 45rem;
    background-position: center;
    background-size:150%;
    background-repeat: no-repeat;
    border-radius: 0px 2rem 0px 20rem;
    border:2px solid black;
    border-top: 0px;
    border-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.txtsec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5rem;
}

.titre{
font-size: 7rem;
font-family: 'Shrikhand', cursive;
}

.sousTitre{
font-size: 4rem;
font-family: 'Shrikhand', cursive;
width: 25rem;
margin-bottom: 8rem;
}

.sousSousTitre{
    font-size: 3.5rem;
    font-family: 'Shrikhand', cursive;
    width: 35rem;
    margin-bottom: 8rem;
    text-align: center;
    font-weight: 400;
}



h3{
font-size: 1.8rem;
}

.txtsec h3{
width: 30rem;
margin-top: -5rem;
text-align: center;
}


.btn {
    display: flex;
    position: relative;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: .2em 1.2em .3em 1.2em;
    text-decoration: none;
    margin-top: 3rem;
    background-color: transparent;
    border-radius: 4rem;
    width: 15rem;
    height: 5rem;
    border: 0.2rem solid black;
    font-weight: bold;
    font-size: 1.5rem;
  }

/******HEADER****************/


  header{
    font-size:2.5rem;
    display:flex;
    justify-content: space-around;
    padding:1.2rem;
    color:black;
    display: flex;
    align-items: center;
  }

  a{ 
    text-decoration: none;
}

header a:hover {
    color:#f8a825;
    font-weight: 500;
}

header .logo{
    height: auto;
    width: 8rem;
    rotate: 20deg;
    transition: transform 0.5s ease;
}


header .logo:hover {
    transform: rotate(360deg); 
    
  }

/****** PAGE INDEX ****************/


.btn:hover {
    color:#f8a825;
    border-color: #f8a825;

}

hr {
    margin-top: 5rem;
    color: black !important;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    height: .35rem;
    background-color: black;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pm{
    width: 25rem;
    height: 20rem;
    margin-right: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pm2{
    width: 23rem;
    height: 18rem;
}

.tre-section{
    border: .3rem solid black;

    border-top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdf7f2;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 2.6rem;
    width: 100%;
    text-align: center;
    color: #4e342e;
    font-weight: 500;
}

.menu li:hover{
    color: brown;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>😋</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.promo{
    margin-top: 5rem;
    width: 65rem;
    height: 10rem;
    background-color: #4e342e;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 3rem;
    line-height: 1rem;
}

.minTitre{
    font-size: 4rem;
    width: 3rem;
    line-height: 4rem;
    padding-right: 8rem;
}

.retrouver-nous{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.retrouver-l .btn{
    margin-left: 9rem;
    margin-top: -5rem;
}

.retrouver-l {
    margin-right: 8rem;
}

.retrouver-r{
    margin-left:8rem;
}

.map{
    width: 30rem;
    height: 30rem;
    background-image: url("https://i.pinimg.com/originals/cd/4d/f4/cd4df4adcedf5bd959220e8c9b744033.jpg");
    border: .3rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapcorse{
    height: 27rem;
    width: auto;
}

.brand{
    background-color: #fedfee;
    width: 100%;
    height: 25rem;
    border: .3rem solid black;

    border-top: 0px;
    border-bottom: 0px;
    margin-top: -3rem;
    box-shadow: 2px 6px 5px 2px rgba(0, 0, 0, 0.2);
    background-image: url("assets/ss.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.brand p{
    font-size: 2rem;
    text-align: center;
    width: 30rem;
    margin-top: -6rem;
    font-weight: 500;
    
}

/******FOOTER (toutes les pages ) ****************/


.footer{
    width: 100%;
    height: 20rem;
    background-color: #fdf7f2;
    border: .3rem solid black;
    border-top: 0px;
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    text-align: left;
}



.footer li{
    margin-bottom: 1rem;
}


.footer a{
    font-size: 2rem;
}

footer button{
    width: 5rem;
    height: 5rem;
    background-color: pink;
    border: .25rem solid black;
    border-radius: 100%;
}

/******PAGE ITINIERAIRE****************/

.hero-itineraire{
    display: flex;
    flex-direction: column;
    height: 70rem; 
    justify-content: center;
}

.hero-itineraire h2{
    font-size: 3rem;
}

.hero-itineraire li{
  font-size: 2rem;
}

.mapGG{
padding-bottom: 5rem;
padding-top: 5rem;
width: 90rem;
height: 30rem;

}

.mapsec{
    margin-left: 5rem;
}

.header-iti{
    display: flex;
   justify-content: start !important;
}


  /******PAGE FAQ****************/

  
  .faq-section h1 {
      font-size: 5rem;
      color: black;
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin-left: 3rem;
  }
    
  .accordion-button{
    padding: 4rem;
    padding-right: 5.8rem;
    font-size: 2.5rem;
    padding-left: 3rem;
  }
  
  .accordion-body{
    font-size: 2rem;
    line-height: 2.8rem;
    padding-left: 3rem;
    padding-right: 3rem;

  }
  
  /* pour le hover du bouton */
  .accordion-button:not(.collapsed){
    background-color: #fedfee;
    color: black;
    font-weight: 700;
    font-style: italic;
  }
  
  .accordion-button{
    background-color: #fedfee;
    color: black;
    outline: none;
    font-weight: 700;
  }
  
  .accordion-button:focus{
    box-shadow: none;
    border: 1px solid rgba(0, 0,0,0,1);
  }
  
  .accordion-body{
    background-color: #dabfcc;
    color: black;
  }
  
  .hero-faq{
    height: 77.5rem;
  }

/******PAGE CONTACT****************/

.hero-contact {
    display: flex;
    height: 65rem;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hero-contact h2{
    margin-top: 6rem;
    font-size: 3rem;
}

.input-section {
    flex-direction: column;
    display: flex;
    margin: 15rem;
}

.input-container {
    margin-bottom: 2rem;
}

.input-container p {
    font-size: 1.5rem;
}

.input-field {
    width: 75rem;
    height: 4rem;
    background-color: #fedfee;
    border: .25rem solid black;
}

.nom-input {
    width: 37.5rem;
}

.email-input {
    margin-top: 1rem;
}

.msg-input {
    margin-top: 1rem;
    height: 10rem;
}

.envoie-input {
    width: 15rem;
    background-color: #FFFF;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

/******PAGE QUI SOMMES NOUS****************/

.hero-nous{
    display: flex;
    height: 70rem;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.hero-nous h2{
    font-size: 3.5rem;
    margin-right: 53rem;
}

.portrais-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.portrais{
    width: 18rem;
    height: 18rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border: 1px solid black;    
}

.portrais img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
}

.sousPortrait h3{
    margin-left: 5rem;
}

.sousPortrait p{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.soustxt-portrait
{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.soustxt-portrait div:nth-child(1)
{
    width: 30rem;
    margin-right: 5rem;
}

.soustxt-portrait div:nth-child(2)
{
    width: 30rem;
    margin-left: 5rem;
}


/*******Page Reservation**********/

.hero-contact {
    display: flex;
    height: 70rem;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.reservation-input {
    margin-top: 1rem;
    height: 2rem;
}


/******DEBUT QUERIES RESPONSIVE****************/

@media screen and (min-width: 1600px){
    html{
        font-size: 16px;
    }
    
}


@media screen and (min-width: 1500px){
    html{
        font-size: 15px;
    }
    
}


@media screen and (min-width: 1400px){
    html{
        font-size: 15.5px;
    } 
}


@media screen and (max-width: 1300px){
    html{
        font-size: 11.5px;
    }
    
}


@media screen and (max-width: 1200px){
    html{
        font-size: 10.5px;
    }
    
}


@media screen and (max-width: 1100px){
    html{
        font-size: 9.5px;
    }
    
}



@media screen and (max-width: 1020px){
    html{
        font-size: 9px;
    }
    
}


@media screen and (max-width: 950px){
    html{
        font-size: 8px;
    }
    
}




@media screen and (max-width: 850px){
    html{
        font-size: 7px;
    }
    
}



@media screen and (max-width: 750px){
    html{
        font-size: 6px;
    }
    
}

@media screen and (max-width: 650px){
    html{
        font-size: 5.5px;
    }
    
}


@media screen and (max-width: 600px){
    html{
        font-size: 5px;
    }
    
}

@media screen and (max-width: 550px){
    html{
        font-size: 4.5px;
    }
    
}


@media screen and (max-width: 500px){
    html{
        font-size: 4px;
    }
    
}

@media screen and (max-width: 430px){
    html{
        font-size: 3.5px;
    }
    
}

@media screen and (max-width: 380px){
    html{
        font-size: 3px;
    }
    
}

@media screen and (max-width: 330px){
    html{
        font-size: 2.5px;
    }
    
}

@media screen and (max-width: 280px){
    html{
        font-size: 2.25px;
    }
    
}











